div.head {
    border: 1px solid blue;
    margin-bottom: 10px;
    padding: 5px;
}

div.login {
    float: right;
    clear: left;
    font-size: small;
    margin-bottom: 6px;
}

div.login form {
    margin: 0px;
}

div.login input {
    border: 1px black solid;
    font-size: small;
}

div.login button {
    border: 1px black solid;
    font-size: small;
}

div.message {
    font-weight: bold;
    border: 1px red solid;
    background: white;
    margin-bottom: 6px;
    padding: 5px;
}

div.pages {
    float: left;
    width: 200px;
    height: 100%;
    border: 1px solid black;
}

div.pages ul {
    margin: 0px;
    padding: 0px;
}

div.pages li {
    border: 1px solid black;
    list-style-type: none;
    margin: 5px;
}

div.pages li.current {
    background: #aaa;
}

div.main {
    margin-top:1px;
    border: 1px dashed green;
}

div.content {
    margin-left: 215px;
    border: 1px solid red;
}

div.content > div {
    padding: 10px;
    margin-bottom: 6px;
}

div.post {
    margin-bottom: 5px;
    border: 1px solid blue;
}

table {
    border-collapse: collapse;
}

table td, table th {
    padding: 3px;
    padding-right: 6px;
    padding-bottom: 1px;
}

